# ===============================
# Java / Maven
# ===============================
target/
*.log
*.class
*.jar
*.war

# ===============================
# IDE Files
# ===============================
# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# Environment Files
# ===============================
.env

# ===============================
# Build
# ===============================
build/

# ===============================
# Node (if frontend added later)
# ===============================
node_modules/